body {
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    background-color: #E2DAD6;
    text-align: center;
}

/* Navbar section */
.title {
    padding: 14px;
    font-size: 40px;
    background-color: #6482AD;
    color: #F5EDED;
    text-align: center;
}

/* Footer section */
.footer {
    background-color: #6482AD;
    color: #F5EDED;
    bottom: 0;
    width: 100%;
    font-weight: 400;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    position: fixed;
}

.footer a {
    margin-right: 10px;
}

.fa-brands {
    padding-top: 10px;
}

.p_element{
    font-size: 18px;
}

/* Body section */
.p-body{
    font-size: 28px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input{
    width: 290px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    border: 1px solid #6482AD;
}

button{
    margin-top: 14px;
    width: 180px;
    height: 50px;
    font-size: 26px;
    border-radius: 12px;
    border: 0px solid;
    background-color: #6482AD;
    color: #F5EDED;
}

/* Weather section */
h2{
    margin-top: 30px;
    font-size: 40px;
}

p{
    font-size: 30px;
}

#weatherData{
    color: #373A40;
    margin-top: 30px;
    background-color: #a8bedc;
    width: 442px;
    border-radius: 12px;
    border: 1px solid #6482AD;
}